@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(85, 230, 165);
  --gray-opacity: rgba(255, 255, 255, 0.25);
}

.title-text {
  font-family: var(--font-inter);
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
  color: white;
}

.desc-text {
  font-family: var(--font-inter);
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.75);
}

.info-text {
  font-family: var(--font-inter);
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--primary);
}

.header {
  background-color: black;
}

.right-animation {
  animation: fadeInUp 6s ease-in-out infinite;
  background: linear-gradient(to right, black, #0f2a1e);
  height: 100%;
  width: 80%;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes fadeInUp {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  25% {
    transform: scale(1.05);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
  75% {
    transform: scale(1.05);
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}

.footer {
  background-color: rgb(10, 16, 25);
}

.primary-color {
  color: var(--primary);
}

.gray-opacity {
  color: var(--gray-opacity);
}
