:root {
  --primary: rgb(85, 230, 165);
}

/* .service {
  background: linear-gradient(to right, #0f2a1e, black, black);
  animation: pulse 6s infinite;
}

@keyframes pulse {
  0%,
  100% {
    background: linear-gradient(to right, black, black, black);
  }
  50% {
    background: linear-gradient(to right, #0f2a1e, black, black);
  }
} */

.service-info-text {
  color: var(--primary) !important;
  font-size: 1.2rem !important;
}

.service-card {
  background-color: rgb(10, 16, 25);
  /* width: 25%; */
  transition: all 0.5s ease-in;
}

.service-card:hover {
  box-shadow: 0px 0px 15px 1px rgba(85, 230, 165, 0.75);
  -webkit-box-shadow: 0px 0px 15px 1px rgba(85, 230, 165, 0.75);
  -moz-box-shadow: 0px 0px 15px 1px rgba(85, 230, 165, 0.75);
}

.wrapper {
  position: relative;
  width: 50%; /* Adjust the width as needed */
  overflow: hidden;
}

.service-title {
  font-size: 1.4rem !important;
}

.service-link {
  visibility: hidden;
  transition: all 0.5s ease-in;
  transform: translateX(100%);
  font-weight: 500;
  font-size: 1.1rem !important;
}

.service-arrow-link {
  transform: translateX(0);
  transition: all 0.5s ease-in;
  position: absolute;
}

.wrapper:hover .service-arrow-link {
  color: var(--primary);
  transform: translateX(620%);
  font-size: 1rem;
}

.wrapper:hover .service-link {
  visibility: visible;
  transform: translateX(0);
  color: var(--primary);
  text-decoration: underline;
}

.service-design-text{
  font-size: 10rem;
}

@media only screen and (max-width: 768px) {
  .service-title-text {
    font-size: 2rem !important;
  }

  .service-card {
    width: 100%;
    margin-bottom: 10px;
  }

  .service-design-text{
    font-size: 5rem;
  }
}
