.header {
  background: linear-gradient(to left, #0f2a1e, black, black);
  animation: pulse 6s infinite;
}

@keyframes pulse {
  0%,
  100% {
    background: linear-gradient(to left, black, black, black);
  }
  50% {
    background: linear-gradient(to left, #0f2a1e, black, black);
  }
}
