:root {
  --primary: rgb(85, 230, 165);
  --opacity-gray: rgba(255, 255, 255, 0.25);
}

.team-info-text {
  color: var(--primary) !important;
  font-size: 1.2rem !important;
}

.member-name {
  color: white;
  font-size: 1.3rem !important;
}

.team-role {
  font-size: 1rem;
}

.view-detail-container {
  opacity: 0;
  transition: all 0.3s ease-in;
  margin-top: -70px;
}

.team-name-container {
  transition: all 0.3s ease-in;
}

.team-container:hover .view-detail-container {
  opacity: 1;
}

.team-container:hover .team-name-container {
  opacity: 0;
}

.view-details {
  font-weight: 500;
  font-size: 1rem !important;
  text-decoration: underline;
}

.member-arrow-link {
  color: var(--primary);
  transition: all 0.5s ease-in;
}

.social-icon {
  color: white;
  border: 1px solid var(--opacity-gray);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: all 0.5s ease-in;
}

.social-icon:hover {
  background-color: var(--primary);
  color: black;
}

@media only screen and (max-width: 768px) {
  .team-title-text {
    font-size: 2rem !important;
    text-align: center;
  }
}
